<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title th:inline="text">[[#{entry.title}]]</title>
	
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/layout.css}" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
</head>

<body>

	<header class="navbar  navbar-default">
	    <div class="container">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/" th:text="#{application.title}"></a>
	        </div>
	
	        <p class="navbar-text navbar-right">
	            <span th:if="${#httpServletRequest.remoteUser}">
	            	<span sec:authentication="principal.name" th:title="${#httpServletRequest.remoteUser}"></span>
	                |
	                <a th:href="@{/logout}" th:text="#{application.logout}"></a>
	            </span>
	            <span th:if="${#httpServletRequest.remoteUser == null}">
	                <a th:href="@{/login}" th:text="#{application.login}"></a>
	            </span>
	        </p>
	    </div>
	</header>
	
	<div class="alert-container container">
	    <div th:text="${alertSuccess}" th:class="(${alertSuccess == null} ? 'hidden' : 'show') + ' alert alert-success'"></div>
	    <div th:text="${alertInfo}" th:class="(${alertInfo == null} ? 'hidden' : 'show') + ' alert alert-info'"></div>
	    <div th:text="${alertDanger}" th:class="(${alertDanger == null} ? 'hidden' : 'show') + ' alert alert-danger'"></div>
	</div>
	
	<div class="container" layout:fragment="content"/>
	
	<footer class="footer">
      <div class="container">
        <p class="text-muted"><a href="https://github.com/sevilayadabasi/diary" th:inline="text">[[#{application.title}]]</a> by <a href="https://www.linkedin.com/in/sevilay-adaba%C5%9F%C4%B1-89b996108/">Sevilay Adabaşı</a></p>
      </div>
    </footer>

</body>

</html>