<div layout:decorator="layouts/entry-layout" layout:fragment="content">

	<h4 th:text="#{entry.addDiary}"></h4>

	<div>
		<form th:action="@{|/entry|}" method="post">

			<label> <input type="text" name="text" /> 
			</label> 
			<input type="submit" th:value="#{entry.addDiary}" />
		</form>
	</div>

	<h1 th:text="#{entry.diaryList}"></h1>

	<div class="card">
		<ul class="list-group list-group-flush">
			<li th:each="entry : ${entries}" class="list-group-item">
				<!--<span ondblclick="makeEditable(this.id)" th:text="${entry.text}" th:id="${'entry' + entryStat.index}" data-type="text" data-pk="1" data-url="/post" data-title="Update Diary"></span>-->
				<a id="text" class="editable" href="#" data-type="text" data-th-attr="data-url=@{/entry/}+${entry.id}, data-pk=${entry.id}" data-title="#{entry.updateDiary}">[[${entry.text}]]</a> 
					
				<form th:action="@{|/entry/${entry.id}|}" method="post" style="float:right; display: inline">
       
					<label><input type="hidden" name="_method" value="Delete" /> 
					<button type="submit" class="btn btn-danger btn-sm" th:title="#{entry.deleteDiary}"> 
			          <span class="glyphicon glyphicon-remove"></span> 
			        </button>
				</form>
			</li>
		</ul>

    </div>
	</div>
	
	<script>
	    $(document).ready(function() {
	    	$.fn.editable.defaults.mode = 'inline';
	    	$('.editable').editable();
	    });	
	</script>

</div>