<div layout:decorator="layouts/login-layout" layout:fragment="content">
    <form th:action="@{/login}" method="post" class="form-horizontal">
      
      <div class="form-group">
	    <label class="control-label col-sm-3" for="username" th:text="#{login.form.email}"></label>
	    <div class="col-sm-4">
	      <input type="email" class="form-control" id="username" name="username" th:placeholder="#{login.form.emailPlaceHolder}" autofocus="autofocus">
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <label class="control-label col-sm-3" for="password" th:text="#{login.form.password}"></label>
	    <div class="col-sm-4">
	      <input type="password" class="form-control" id="password" name="password">
	    </div>
	  </div>
      
      <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-4">
	      <button type="submit" class="btn btn-danger" th:text="#{login.form.submit}"></button>
	    </div>
	  </div>
	  
	  <div class="form-group">
	    <div class="col-sm-offset-3 col-sm-4">
	      <a th:href="@{/register}" th:text="#{login.form.registerLinkName}"></a>
	    </div>
	  </div>
      
    </form>
    
</div>